/*=======  BOOKING FORM  =======*/

input[type="date"]::after{
	background-image: url(../img/c.png);
	content: "";
    display: block;
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 15px;
}

.MuiIconButton-root{
position: relative;
}
.booking-form-hotizontal .booking-form-inner .dates-group input{
	margin-left: 1.1rem;
}
.MuiInputBase-root{
	color: #777 !important; 
}
.dates-group .MuiIconButton-root{
	height: 100%;
    width: 100%;
    position: absolute;
    // left: 0;
	right: -29px;
    bottom: 0;
    top: 0;
	
  }
  .MuiFormControl-root{
    justify-content: space-around;
	margin-left: 1rem;
	display: grid !important;

	@media #{$sm}{

		width: 50%;
	}

  }
.MuiIconButton-root{
	color: #777 !important; 
border-radius: 0px !important;

}
.MuiInput-underline:after{

	border-bottom: none;
}

.booking-form {
	position: relative;
	margin-top: -110px;
	z-index: 2;
	@media #{$sm} {
		margin-top: -85px;
	}
	.booking-form-inner {
		background-color: $white;
		padding: 30px;
		box-shadow: 0 0 20px rgba($color: $text-color, $alpha: 0.4);
		@media #{$sm} {
			padding: 25px;
		}
	}
	form {
		input,
		select,
		.nice-select {
			background-color: transparent;
			width: 100%;
			height: 50px;
			font-size: 14px;
			border: none;
			border-bottom: 2px solid $primary-color;
			line-height: 50px;
			color: rgba($color: $text-color, $alpha: 0.5);
		}
		.nice-select {
			border-color: transparent;
			padding-left: 0;
			&::after {
				display: none;
			}
			&::before {
				left: 0;
			}
		}
		label {
			color: $primary-color;
			font-weight: 700;
			font-family: $roboto;
			display: block;
			margin: 0;
		}

		.inputs-filed {
			position: relative;
			@media #{$sm} {
				margin-bottom: 0.5rem;
			}
			&.rooms-select,
			&.guests-select {
				select {
					padding: 0;
				}
			}

			.icon {
				position: absolute;
				left: 0;
				bottom: 15px;
				font-size: 14px;
				color: $primary-color;
			}
		}

		button {
			width: 100%;
			border: none;
			background-color: $primary-color;
			font-size: 14px;
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
			height: 50px;
			letter-spacing: 2px;
			@include transition(0.3s);
			&:hover {
				background-color: $black;
			}
			@media #{$sm} {
				height: 50px;
				letter-spacing: normal;
			}
			@media #{$lg} {
				font-size: 12px;
				letter-spacing: 1px;
			}
		}
	}

	&.booking-form-dark {
		background-color: $heading-color;
		margin-top: 0;
		.booking-form-inner {
			background-color: transparent;
		}
		form label {
			color: $white;
		}
	}

	&.boxed-layout {
		margin-top: -40px;
		@media #{$md} {
			margin-top: 0;
		}
		@media #{$sm} {
			margin-top: 0;
		}
		form {
			button {
				font-size: 12px;
				letter-spacing: 1;
			}
		}
	}
}

.booking-form-hotizontal {
	position: relative;
	// margin-top: -90px;
	z-index: 2;
	background-color: #fff !important;
	box-shadow: 0px 0px 10px;
    margin: -3rem auto .5rem auto;
	@media #{$sm} {
		// margin-top: -85px;
	}
	@media #{$md}{
		max-width: 960px;
	}
	background-color: rgba($color: $heading-color, $alpha: 1);
	.booking-form-inner {
		padding: 1.5rem;
		// box-shadow: 0 0 20px rgba($color: $text-color, $alpha: 0.4);
		@media #{$sm} {
			padding: 1rem;
		}
		//column 1
		.dates-group {
			box-sizing: content-box;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			background-color: $white;
			padding: 0.5rem;
			border:2px solid $primary-color;
			@media #{$sm} {
				margin-bottom: 0.5rem;
				flex-wrap: wrap;
			}

			.MuiIconButton-root{
				@media #{$md} {
					right: 0px;
					left: 36px;
				}
				@media #{$sm} {
					right: 0px;
					left: 36px;
				}
			}
			input {
				width: 49% !important;
				display: inline-block;
				border: none;
				border-radius: 0 !important;
				font-size: 14px;
				@media #{$sm} {
					width: 100% !important;
					border-bottom: 0.5px solid $mine-shaft;
					height: 50px;
				}
				@media #{$lg} {
					margin-left: 0px !important;
					width: 100% !important;
					border-bottom: none;
					height: auto;
				}
				@media #{$md} {
					margin-left: 0px !important;
					width: 100% !important;
					border-bottom: none;
					height: auto;
				}
				@media #{$sm} {
					border-bottom: none;
					height: auto;
					margin-left: 0px !important;
					width: 100% !important;
				}
			}
		}

		//column 2
		.room-details {
			background-color: $white;
			padding: 0.5rem;
			height: 100%;
			display: flex;
			align-items: stretch;
			font-size: 14px;
			border:2px solid $primary-color;
			@media #{$sm} {
				margin-bottom: 0.5rem;
				height: 50px;
			}
			.count-group {
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				align-self: center;
			}
			.room-details-popup {
				position: absolute;
				min-width: 400px;
				background: #fff;
				z-index: 1;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
				border-radius: 5px;
				padding: 15px;
				top: 70px;
				z-index: 10;
				left: 0px;
				.room_item_box {
					float: left;
					line-height: 0;
					width: 100%;
					margin: 15px 0;
					display: flex;
					justify-content: space-around;
					align-items: center;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					label {
						width: 50%;
						font-size: 16px;
						color: $mine-shaft;
						font-weight: 500;
						line-height: 19px;
						margin-bottom: 0;
						display: inline-block;
						max-width: 100%;
					}
					.quantity-box {
						// width: 50%;
						// float: left;
						text-align: right;
						input {
							width: 50px;
							height: 40px;
							text-align: center;
							padding: 0;
							font-size: 18px;
							border: none;
							font-weight: bold;
							color: #000;
							display: inline-block;
							// line-height: 40px;
						}
						.minus {
							width: 40px;
							height: 40px;
							border: 1px solid $secondary-color;
							border-radius: 4px;
							font-size: 30px;
							text-align: center;
							line-height: 40px;
							color: $secondary-color;
							display: inline-block;
							cursor: pointer;
						}
						.plus {
							width: 40px;
							height: 40px;
							border: 1px solid $secondary-color;
							border-radius: 4px;
							font-size: 30px;
							text-align: center;
							line-height: 40px;
							color: $secondary-color;
							display: inline-block;
							cursor: pointer;
						}
					}
				}
			}
		}

		//column 3

		.promo-codes-wrapper {
			height: 100%;
			background-color: $white;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			border:2px solid $primary-color;
			@media #{$sm} {
				margin-bottom: 0.5rem;
				height: 50px;
			}
			cursor: pointer;
			.promo-codes {
				text-align: center;
				font-size: 14px;
			}
			.promo-popup {
				position: absolute;
				min-width: 500px;
				background: #fff;
				z-index: 1;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
				border-radius: 5px;
				padding: 15px;
				top: 70px;
				z-index: 10;
				right: 0px;
				display: flex;
				justify-content: space-between;
				.code-item {
					// width: 50%;
					label {
						font-size: 14px;
					}
				}
			}
		}

		//column 4

		button {
			height: 100%;
			width: 100%;
			@media #{$sm} {
				width: 100%;
				// height: 50px;
			}
		}
	}

	.main-btn {
		background-color: $primary-color;
		border:2px solid $primary-color;
	}
}


.dates-group .MuiInput-underline:before {
	content: none !important;
}

.booking-form-vertical .booking-form-inner .dates-group input{

	margin-left: .8rem;
}
.booking-form-vertical .booking-form-inner button{
	height: auto !important;
}
.booking-form-vertical .menu-buttons a, .booking-form-vertical .menu-buttons a button {
    width: 100%;
    margin-bottom: 10px;
}
.booking-form-vertical .menu-buttons {
	padding: 0 32px;
}