.bottom-navigator-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .bottom-navigator-wrapper {
      display: block;
      margin-top: 56px;
      .MuiBottomNavigation-root {
          justify-content: space-around;
          align-items: center;
          width: 100%;
          position: fixed;
          bottom: 0;
          z-index: 9;
          box-shadow: 0px -4px 6px -2px #ddd;
          a {
              color: $mine-shaft;
          }
      }
  }
}
