.dining-inner-title-block {
  padding: 1rem 0;
  text-align: left;
  h1,
  h2 {
    color: $eden;
    font-family: "Lora", serif;
    padding: 0 1rem 1rem 0;
    @media #{$sm} {
      padding: 0.75rem 0;
      font-size: 30px;
    }
  }
  p {
    color: $para-color;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    padding-right: 1rem;
    margin-bottom: 1rem;
    @media #{$sm} {
      text-align: justify;
      line-height: 1.6;
    }
  }

  .intro-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .description-item {
      width: 50%;
      order: 1;
      @media #{$sm} {
        width: 100%;
        order: 2;
      }
    }
    .slider-item {
      width: 50%;
      order: 2;
      @media #{$sm} {
        width: 100%;
        order: 1;
      }
      .control-arrow {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 35px;
        width: 45px;
        background: $black;
        line-height: 33px;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 9;
        &:hover {
          background-color: $secondary-color;
          color: $white;
        }
        &.control-next {
          right: 1%;
          left: auto;
        }
      }
      .control-next {
        right: 1%;
      }
      .control-prev {
        left: 1%;
      }
    }
  }

  .title-image-wrapper {
    height: 400px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px #eee;
    overflow: hidden;
    margin: 1rem 0;
    @media #{$sm} {
      height: 300px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.dining-inner-grid-title {
  text-align: center;
  color: $text-color;
  font-family: "Lora", serif;
  margin: 2rem 0;
  font-style: italic;
  font-size: 36px;
  @media #{$sm} {
    margin: 1rem 0;
  }
}

.recommendations-title {
  color: $eden;
  font-family: $lora;
  margin: 1rem 0;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.dining-info-wrapper {
  // padding: 2rem 0;
  .travellers-choice {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // padding: 0 4rem;
    .image-wrapper {
      width: 100%;
      height: 200px;
      text-align: center;
      box-shadow: 0 0 4px #dadada;
      padding: 1rem;
      margin-bottom: 1rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      margin: 0.5rem 0;
      font-weight: 400;
      font-size: 14px;
    }
    .info-title {
      font-weight: bold;
      text-transform: uppercase;
      color: $black;
    }
  }
  .menu-buttons {
    display: flex;
    // align-items: center;
    justify-content: space-around;
    flex-direction: column;
    button {
      background-color: $secondary-color;
      border-color: $secondary-color;
      box-shadow: none;
      &:nth-child(2) {
        margin: 1rem 0;
      }
    }
  }
}

.dining-inner-offer-slider {
  margin: 2rem 0;
  .dining-inner-slider-item {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    @media #{$sm} {
      height: 200px;
    }
    h1,
    h2,
    h3 {
      color: $white;
      text-shadow: 0 0 5px #333;
      text-align: center;
      font-weight: 500;
      padding: 0 3rem;
      @media #{$sm} {
        font-size: 24px;
      }
    }
  }
  .slick-prev {
    left: 0;
    z-index: 1;
  }
  .slick-next {
    right: 0;
    z-index: 1;
  }
}

.dining-recommendations-wrapper {
  // padding: 0.75rem;
  @media #{$sm} {
    max-width: 100%;
    min-width: 100%;
    padding: 0.5rem;
    // margin: 1rem auto;
  }
  .grid-item {
    box-shadow: 0 0 8px #dadada;
    @media #{$sm} {
      margin: 0.5rem 0;
    }
    .dining-title {
      height: 250px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      @media #{$sm} {
        height: 200px;
      }
      h3,
      h4 {
        color: $white;
        text-transform: uppercase;
        font-family: $mont;
        line-height: 30px;
        font-weight: 500;
        width: 50%;
        text-shadow: 0 0 5px #333;
        z-index: 2;
        @media #{$sm} {
          width: 75%;
        }
      }
      &:hover {
        .slide-hover-overlay {
          background-color: rgba($color: #000000, $alpha: 0.5);
          cursor: pointer;
          transition: all 0.3s;
        }
      }
    }
  }
}
