.guest-reviews-wrapper {
    background: $secondary-color;
    font-family: "Montserrat", serif;
    .trip-logo-wrapper{
        height: 75px;
        height: 75px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h1,
    h2 {
        color: $primary-color;
        font-weight: 500;
        font-family: "Lora", serif;
        font-size:23px;
    }
    .slide {
        background-color: transparent !important;
    }
    .review-wrapper {
        width: 50%;
        img {
            width: 100px !important;
            height: 100px;
        }
        .gt-name {
            margin-top: 1rem;
            color: $primary-color;
            font-size: 16px;
        }
        .gt-title,
        .gt-review {
            color: $white;
            margin-top: 0.5rem;
            font-weight: 500;
            font-size: 15px;
        }
        .gt-review {
            font-weight: 300;
            opacity: 0.9;
            font-size: 14px;
        }
        .gt-date {
            font-weight: 300;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
        }
        .gt-rating {
            display: block;
            margin: 0 auto;
        }
        .btn-read-more {
            cursor: pointer;
            color: $white;
            border: none;
            background: transparent;
            border-bottom: 1px solid $white;
        }
        .control-next{
            right:11rem !important;
        }
        .control-prev{
            left:11rem !important;

        }
        .carousel.carousel-slider .control-arrow:hover{
            background: transparent;
        }
    }
}

@media only screen and (max-width: 600px) {
    .guest-reviews-wrapper {
        padding: 1rem 0.5rem !important;
        h1,
        h2 {
            font-size: 1.75rem;
        }
        .slide {
            background-color: transparent !important;
        }
        .review-wrapper {
            width: 75%;
            img {
                width: 85px !important;
                height: 85px;
            }
            .gt-name {
                margin-top: 0.5rem;
            }
            .gt-title{
                font-size: 20px;
            }
            .gt-title,
            .gt-review {
                color: $white;
                margin-top: 0.5rem;
            }
            .gt-review {
                font-weight: 300;
                text-align: justify !important;
            }
            .gt-date {
                font-weight: 300;
                color: rgba(255, 255, 255, 0.5);
            }
            .gt-rating {
                display: block;
                margin: 0 auto;
            }
            .btn-read-more {
                cursor: pointer;
                color: $white;
                border: none;
                background: transparent;
                border-bottom: 1px solid $white;
            }
        }
    }
}
