.offers-inner-wrapper {
  .main-block {
    h2 {
      color: $eden;
      font-family: $lora;
      text-align: center;
      padding: 2rem 0;
      @media #{$sm} {
        padding: 0 0 1rem 0;
      }
    }
    .inner-block-heading {
      h3 {
        color: $eden;
        font-family: $lora;
        text-align: center;
        padding: 2rem 0;
        @media #{$sm} {
          padding: 0 0 1rem 0;
        }
      }
    }
    @media #{$sm} {
      padding: 0.5rem 0 !important;
    }
    .title-flex {
      flex-direction: row;
    }
    .main-item {
      width: 50%;
      @media #{$sm} {
        width: 100%;
      }
      h6 {
        padding-top: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $eden;
      }
    }

    p {
      color: $mine-shaft;
      font-family: $lora;
      font-weight: 500;
      &.download-para {
        margin-top: 1rem;
        margin-bottom: 0rem;
        color: $mine-shaft;
        font-weight: 600;
        font-family: $mont;
      }
    }
    .img-wrapper {
      height: 400px;
      overflow: hidden;
      @media #{$sm} {
        height: 175px;
        margin: 0 0 1rem 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .share-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-top: 1px solid $text-color;
      border-bottom: 1px solid $text-color;
      padding: 1rem 0;
      margin: 1rem 0;
      align-items: center;
      p {
        font-weight: bold;
        font-size: 18px;
      }
      .share-social-links {
        display: flex;
        justify-content: space-around;
        width: 30%;
        @media #{$sm} {
          width: 50%;
          margin-top: 1rem;
        }
        a {
          width: 35px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          border: 1px solid $text-color;
          border-radius: 100%;
          color: $text-color;
          &:hover {
            background-color: $secondary-color;
            color: $white;
            border: 1px solid $secondary-color;
          }
        }
      }
    }
    .reservations-block {
      p {
        font-weight: bold;
        font-size: 18px;
      }
      .contact-links {
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0.5rem;
        color: $eden;
        @media #{$sm} {
          div {
            width: 100%;
          }
        }
      }
    }

    button {
      background-color: $secondary-color;
      border-color: $secondary-color;
      box-shadow: none;
      margin-top: 3rem;
      @media #{$sm} {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
