.rooms-inner-title-block {
  padding-top: 3rem;
  text-align: left;
  .intro-block {
    display: flex;
    flex-wrap: wrap;
    .slider-item {
      max-width: 50%;
      img {
        max-height: 300px;
      }
    }
    .text-item {
      max-width: 50%;
      padding-left: 1rem;
      h3 {
        color: #11595c;
        font-family: "Lora", serif;
        padding-bottom: 2rem;
      }
      p {
        color: #11595c;
        font-weight: 500;
        line-height: 30px;
        font-size: 15px;
      }
    }
  }
}
.rooms-inner-grid-title {
  text-align: center;
  color: $text-color;
  font-family: "Lora", serif;
  margin: 2rem 0;
  font-style: italic;
  font-size: 36px;
  @media #{$sm} {
    margin: 1rem 0;
  }
}

.recommendations-title {
  color: $eden;
  font-family: $lora;
  margin: 1rem 0;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.room-features {
  background-color: #fafafa;
  padding: 1rem 0;
  h3 {
    font-family: $lora;
    color: $eden;
    padding: 1rem;
  }
  .room-features-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    li {
      width: 25%;
      padding: 1rem;
      position: relative;
      a {
        display: block;
        padding: 1rem;
        background: #fff;
        border-radius: 4px;
        color: $eden;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.02);
        &:hover {
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
          color: $primary-color;
          // font-weight: 600;
        }
      }
      i {
        padding-right: 1rem;
      }
    }
  }
}

.room-360-wrapper {
  padding: 2rem 0;
  h3 {
    padding-bottom: 1rem;
    font-weight: 500;
  }
  .pnlm-container {
    height: 350px !important;
    @media #{$sm} {
      height: 250px !important;
    }
  }
}

.rooms-recommendations-wrapper {
  // padding: 0.75rem;
  @media #{$sm} {
    max-width: 100%;
    min-width: 100%;
    padding: 0.5rem;
    // margin: 1rem auto;
  }
  .grid-item {
    box-shadow: 0 0 8px #dadada;
    @media #{$sm} {
      margin: 0.5rem 0;
    }
    .rooms-title {
      height: 250px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      @media #{$sm} {
        height: 200px;
      }
      h3,
      h4 {
        color: $white;
        text-transform: uppercase;
        font-family: $mont;
        line-height: 50px;
        font-weight: 500;
        width: 50%;
        text-shadow: 0 0 5px #333;
        z-index: 2;
        @media #{$sm} {
          width: 75%;
        }
      }
    }
  }
}
