.rooms-inner-wrapper {
  .rooms-inner-title-block {
    padding-top: 2rem;
    text-align: left;
    .intro-block {
      .slider-item {
        max-width: 100%;
        @media #{$sm} {
          max-width: 100%;
        }
        img {
          max-height: 400px;
          @media #{$sm} {
            max-height: 175px;
          }
        }
      }
      .description-item {
        h3 {
          color: $secondary-color;
          font-family: "Lora", serif;
          padding: 1rem 0;
          font-weight: 500;
        }
        p {
          color: $para-color;
          font-weight: 500;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
  }
  .rooms-inner-grid-title {
    text-align: center;
    color: $text-color;
    font-family: "Lora", serif;
    margin: 2rem 0;
    font-style: italic;
    font-size: 36px;
    @media #{$sm} {
      margin: 1rem 0;
    }
  }

  .recommendations-title {
    color: $eden;
    font-family: $lora;
    margin: 1rem 0;
    text-align: center;
    font-style: italic;
    font-weight: 600;
  }

  .room-features {
    background-color: #fafafa;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    h3 {
      font-family: $lora;
      color: $eden;
      padding: 1rem;
    }
    .room-features-list {
      display: flex;
      flex-wrap: wrap;
      box-sizing: content-box;
      li {
        width: 33.33%;
        padding: 0.5rem;
        position: relative;
        text-align: center;
        @media #{$sm} {
          width: 50%;
          padding: 0.25rem;
        }
        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 1rem;
          background: #fff;
          border-radius: 4px;
          color: $eden;
          font-weight: 500;
          font-size: 12px;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
          &:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
            color: $primary-color;
          }
        }
        i {
          padding-bottom: 0.5rem;
          display: block;
          font-size: 24px;
        }
      }
    }
  }

  .room-360-wrapper {
    padding: 2rem 0;
    h3 {
      padding-bottom: 2rem;
      font-weight: 500;
      color: $eden;
      font-family: $lora;
    }
    .pnlm-container {
      height: 350px !important;
      border-radius: 4px;
      overflow: hidden;
      @media #{$sm} {
        height: 250px !important;
      }
    }
  }

  .rooms-recommendations-wrapper {
    padding: 0.5rem;
    @media #{$sm} {
      max-width: 100%;
      min-width: 100%;
      padding: 0.5rem;
      // margin: 1rem auto;
    }
    .grid-item {
      box-shadow: 0 0 8px #dadada;
      @media #{$sm} {
        margin: 0.5rem 0;
      }
      .rooms-title {
        height: 250px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        @media #{$sm} {
          height: 200px;
        }
        h3,
        h4 {
          color: $white;
          text-transform: capitalize;
          font-family: $mont;
          line-height: 30px;
          font-weight: 500;
          width: 50%;
          text-shadow: 0 0 5px #333;
          z-index: 2;
          @media #{$sm} {
            width: 75%;
          }
        }
        &:hover {
          .slide-hover-overlay {
            background-color: rgba($color: #000000, $alpha: 0.5);
            cursor: pointer;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  .room-booking-form {
    background-color: $white;
    padding: 40px;
    @media #{$md} {
      margin-top: 30px;
    }
    @media #{$sm} {
      margin-top: 30px;
    }
    input,
    .nice-select,
    select {
      background-color: $main-bg;
    }
    .main-btn {
      height: 60px;
      line-height: 60px;
      box-shadow: none;
      width: 100%;
      padding: 0;
    }
    .title {
      font-weight: 700;
      font-family: $archivo;
      margin-bottom: 30px;
      padding-left: 60px;
      position: relative;
      @media #{$lg} {
        padding-left: 50px;
      }
      @media #{$tiny} {
        padding-left: 50px;
      }
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 2px;
        background-color: $primary-color;
        content: "";
        @media #{$lg} {
          width: 30px;
        }
        @media #{$tiny} {
          width: 30px;
        }
      }
    }
  }
}

.booking-form-vertical {
  position: relative;
  // margin-top: -90px;
  z-index: 2;
  background-color: #fff !important;
  margin: 2rem auto 0 auto;
  @media #{$sm} {
    // margin-top: -85px;
  }
  background-color: rgba($color: $heading-color, $alpha: 1);
  box-shadow: 0px 0px 10px #dadada;
  .booking-form-inner {
    padding: 2rem;
    // box-shadow: 0 0 20px rgba($color: $text-color, $alpha: 0.4);
    @media #{$sm} {
      padding: 1rem;
    }
    //column 1
    .dates-group {
      box-sizing: content-box;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      background-color: $white;
      // padding: 0.5rem;
      border: 2px solid $primary-color;
      margin-bottom: 1.5rem;
      height: 50px;
      @media #{$sm} {
        margin-bottom: 0.5rem;
        flex-wrap: wrap;
      }
      input {
        width: 48% !important;
        display: inline-block;
        border: none;
        border-radius: 0 !important;
        font-size: 12.5px;
        color: $text-color;
        @media #{$sm} {
          width: 100% !important;
          border-bottom: 0.5px solid $mine-shaft;
          height: 50px;
        }
      }
    }

    //column 2
    .room-details {
      background-color: $white;
      padding: 0.5rem;
      height: 100%;
      display: flex;
      align-items: stretch;
      font-size: 14px;
      border: 2px solid $primary-color;
      margin-bottom: 1.5rem;
      height: 50px;
      @media #{$sm} {
        margin-bottom: 0.5rem;
        height: 50px;
      }
      .count-group {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
      }
      .room-details-popup {
        position: absolute;
        min-width: 400px;
        background: #fff;
        z-index: 1;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 15px;
        top: 70px;
        z-index: 10;
        left: 0px;
        .room_item_box {
          float: left;
          line-height: 0;
          width: 100%;
          margin: 15px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          label {
            width: 50%;
            font-size: 16px;
            color: $mine-shaft;
            font-weight: 500;
            line-height: 19px;
            margin-bottom: 0;
            display: inline-block;
            max-width: 100%;
          }
          .quantity-box {
            // width: 50%;
            // float: left;
            text-align: right;
            input {
              width: 50px;
              height: 40px;
              text-align: center;
              padding: 0;
              font-size: 18px;
              border: none;
              font-weight: bold;
              color: #000;
              display: inline-block;
              // line-height: 40px;
            }
            .minus {
              width: 40px;
              height: 40px;
              border: 1px solid $secondary-color;
              border-radius: 4px;
              font-size: 30px;
              text-align: center;
              line-height: 40px;
              color: $secondary-color;
              display: inline-block;
              cursor: pointer;
            }
            .plus {
              width: 40px;
              height: 40px;
              border: 1px solid $secondary-color;
              border-radius: 4px;
              font-size: 30px;
              text-align: center;
              line-height: 40px;
              color: $secondary-color;
              display: inline-block;
              cursor: pointer;
            }
          }
        }
      }
    }

    //column 3

    .promo-codes-wrapper {
      height: 100%;
      background-color: $white;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary-color;
      margin-bottom: 1.5rem;
      height: 50px;
      @media #{$sm} {
        margin-bottom: 0.5rem;
        height: 50px;
      }
      cursor: pointer;
      .promo-codes {
        text-align: center;
        font-size: 14px;
      }
      .promo-popup {
        position: absolute;
        min-width: 500px;
        background: #fff;
        z-index: 1;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 15px;
        top: 70px;
        z-index: 10;
        right: 0px;
        display: flex;
        justify-content: space-between;
        .code-item {
          // width: 50%;
          label {
            font-size: 14px;
          }
        }
      }
    }

    //column 4

    button {
      width: 100%;
      height: 50px;
      @media #{$sm} {
        width: 100%;
        height: 50px;
      }
    }
  }

  .main-btn {
    background-color: $primary-color;
    border: 2px solid $primary-color;
  }
}

.left-image-section{

  @media #{$lg}{
    max-width: 70% !important;
    flex : 0 0 70% !important;
  }

  @media #{$md}{
    max-width: 100% !important;
    flex : 0 0 100% !important;
  }
  @media #{$sm}{
    max-width: 100% !important;
    flex : 0 0 100% !important;
  }

}

.right-booking-section{
  @media #{$lg}{
    max-width: 30% !important;
    flex : 0 0 30% !important;
  }
 
  @media #{$md}{
    max-width: 100% !important;
    flex : 0 0 100% !important;
  }
  @media #{$sm}{
    max-width: 100% !important;
    flex : 0 0 100% !important;
  }
}