.sustainability-wrapper {
  .intro-block,
  .pillars-block,
  .projects-block {
    h2,
    h3 {
      color: $eden;
      font-family: $lora;
      font-style: italic;
    }
    h3 {
      margin-bottom: 1rem;
      @media #{$sm} {
        font-size: 24px;
      }
    }
    h2.main-title {
      font-style: normal;
      @media #{$sm} {
        font-size: 30px;
        padding: 1rem 0;
      }
    }
    @media #{$sm}{
      padding: 0.5rem 0 !important;
    }
    .title-flex {
      flex-direction: row;
      padding-top: 2rem;
      @media #{$sm} {
        flex-direction: column-reverse;
        padding-top: 1rem;
      }
    }
    .intro-item,
    .pillars-item,
    .projects-item {
      width: 50%;
      @media #{$sm} {
        width: 100%;
      }
      h5,
      h6 {
        padding: 1rem 0;
        font-weight: 700;
        text-transform: uppercase;
        color: $eden;
      }
    }

    p {
      color: $eden;
      font-family: $lora;
      font-weight: 500;
      &.download-para{
        margin-top: 1rem;
        margin-bottom: 0rem;
        color: $mine-shaft;
        font-weight: 600;
        font-family: $mont;
      }
    }
    .img-wrapper {
      height: 400px;
      @media #{$sm} {
        height: 175px;
        margin: 0 0 1rem 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    button {
      background-color: $secondary-color;
      border-color: $secondary-color;
      box-shadow: none;
      margin-top: 2rem;
      @media #{$sm} {
        width: 100%;
      }
    }
  }

  //responsivness only

  .pillars-item.img-wrapper {
    @media #{$sm} {
      order: 2;
    }
  }
}
